<as24-tracking type="gtm" action="pageview"></as24-tracking>
{{$includelang := replace .Site.Params.langtag "-" "_" }}
{{printf "<!--# include virtual=\"/fragment/contentservice/footer_%s.html\" -->" $includelang  | safeHTML}}
</div>
{{"<!--#include virtual=\"/fragment/assets/external/showcar-icons/showcar-icons-fragment.html\" -->" | safeHTML}}
{{"<!--#include virtual=\"/fragment/assets/external/brave-flamingo/showcar-tracking-brave-flamingo-fragment.html\" -->" | safeHTML}}
{{with .Site.Params.devMode}}
<script src="/showcar-ui/dist/showcar-ui.js"></script>
{{end}}
<script src="{{.Site.Params.assetsBaseURL}}js/main{{getenv "MAIN_JS_SUFFIX"}}.js"></script>
</body>
</html>
