{{$.Scratch.Set "env" .Site.Params.environment}}
{{with .Params.hero}}
  <section class="opt-hero">
  {{if gt (len .) 1}}
  {{$.Scratch.Set "carousel" "true"}}
    <as24-carousel loop="infinite">
      <div class="as24-carousel__container" role="container">
          {{range $heroimage := .}}
            <div class="as24-carousel__item">
                <div class="gallery-picture">
                    <picture class="gallery-picture__image">
                        <source media="(max-width: 480px)" srcset="{{$heroimage.small}}" type="image/jpg">
                        <source media="(max-width: 768px)" srcset="{{$heroimage.medium}}" type="image/jpg">
                        <source media="(min-width: 768px)" srcset="{{$heroimage.large}}" type="image/jpg">
                        <img src="{{$heroimage.small}}" alt="{{$.Params.title}}">
                    </picture>
                </div>
            </div>
            {{end}}
        </div>
        <a href="#" class="as24-carousel__button" role="nav-button" data-direction="left"></a>
        <a href="#" class="as24-carousel__button" role="nav-button" data-direction="right"></a>
      </as24-carousel>

    {{else}}
    {{range $heroimage := .}}
        <picture>
          {{if eq ($.Scratch.Get "env") "live"}}
            <source media="(max-width: 480px)" srcset="{{$.Site.Params.AssetsBaseURL}}{{- default "images/hero/default-banner-s-01.webp" (replace $heroimage.small "jpg" "webp") -}}" type="image/webp">
            <source media="(max-width: 768px)" srcset="{{$.Site.Params.AssetsBaseURL}}{{- default "images/hero/default-banner-m-01.webp" (replace $heroimage.medium "jpg" "webp") -}}" type="image/webp">
            <source media="(min-width: 768px)" srcset="{{$.Site.Params.AssetsBaseURL}}{{- default "images/hero/default-banner-l-01.webp" (replace $heroimage.large "jpg" "webp") -}}" type="image/webp">
          {{end}}
          <source media="(max-width: 480px)" srcset="{{$.Site.Params.AssetsBaseURL}}{{- default "images/hero/default-banner-s-01.jpg" $heroimage.small -}}" type="image/jpg">
          <source media="(max-width: 768px)" srcset="{{$.Site.Params.AssetsBaseURL}}{{- default "images/hero/default-banner-m-01.jpg" $heroimage.medium -}}" type="image/jpg">
          <source media="(min-width: 768px)" srcset="{{$.Site.Params.AssetsBaseURL}}{{- default "images/hero/default-banner-l-01.jpg" $heroimage.large -}}" type="image/jpg">
          <img src="{{$.Site.Params.AssetsBaseURL}}{{- default "images/hero/default-banner-l-01.jpg" $heroimage.large -}}" alt="{{$.Params.Title}}">
        </picture> <!--     {{- default "images/hero/default-banner-s-01.jpg" $heroimage.small -}} -->
    {{end}}
  {{end}}
  </section>
{{else}}
  <!-- Fallback implementation for current moto-setup -->
  <section class="opt-hero">
  {{if .Params.picturelarge}}
      <picture>
        {{if eq .Site.Params.environment "live"}}
          <source media="(max-width: 480px)" srcset="{{.Site.Params.AssetsBaseURL}}{{replace .Params.picturesmall "jpg" "webp"}}" type="image/webp">
          <source media="(max-width: 768px)" srcset="{{.Site.Params.AssetsBaseURL}}{{replace .Params.picturemedium "jpg" "webp"}}" type="image/webp">
          <source media="(min-width: 768px)" srcset="{{.Site.Params.AssetsBaseURL}}{{replace .Params.picturelarge "jpg" "webp"}}" type="image/webp">
        {{end}}
        <source media="(max-width: 480px)" srcset="{{.Site.Params.AssetsBaseURL}}{{.Params.picturesmall}}" type="image/jpg">
        <source media="(max-width: 768px)" srcset="{{.Site.Params.AssetsBaseURL}}{{.Params.picturemedium}}" type="image/jpg">
        <source media="(min-width: 768px)" srcset="{{.Site.Params.AssetsBaseURL}}{{.Params.picturelarge}}" type="image/jpg">
        <img src="{{.Site.Params.AssetsBaseURL}}{{.Params.picturelarge}}" alt="{{$.Params.Title}}">
      </picture>
  {{else}}
      <!-- ensure a hero is always present -->
      <picture>
        {{if eq .Site.Params.environment "live"}}
          <source media="(max-width: 480px)" srcset="{{.Site.Params.AssetsBaseURL}}images/hero/default-banner-s-01.webp" type="image/webp">
          <source media="(max-width: 768px)" srcset="{{.Site.Params.AssetsBaseURL}}images/hero/default-banner-m-01.webp" type="image/webp">
          <source media="(min-width: 768px)" srcset="{{.Site.Params.AssetsBaseURL}}images/hero/default-banner-l-01.webp" type="image/webp">
        {{end}}
        <source media="(max-width: 480px)" srcset="{{.Site.Params.AssetsBaseURL}}images/hero/default-banner-s-01.jpg" type="image/jpg">
        <source media="(max-width: 768px)" srcset="{{.Site.Params.AssetsBaseURL}}images/hero/default-banner-m-01.jpg" type="image/jpg">
        <source media="(min-width: 768px)" srcset="{{.Site.Params.AssetsBaseURL}}images/hero/default-banner-l-01.jpg" type="image/jpg">
        <img src="{{.Site.Params.AssetsBaseURL}}images/hero/default-banner-l-01.jpg" alt="{{.Title}}">
      </picture>
  {{end}}
</section>
{{end}}
