{{ with .Params.linkTextBoxes }}
{{range $i, $text_box := .}}
<div class="sc-link-text-box">
    <div class="sc-link-text-box__text">
      <h3 class="sc-link-text-box__headline">
          {{$text_box.textheadline}}
      </h3>
      <p class="sc-link-text-box__paragraph">
        {{$text_box.text | safeHTML}}
      </p>
    </div>
  
    {{ with $text_box.links }}
    <div class="sc-link-text-box__links">
        <ul class="sc-unique-link-list">
            {{range $j, $link := .}}
            <li>
                <a href="{{ $link.url }}">
                    <span>{{ $link.name | safeHTML }}</span>
                </a>
            </li> 
            {{end}}                    
        </ul> 
    </div>
    {{end}}
  </div>
  {{end}}
  {{end}}