{{with .context}}
<section class="opt-model-finder">
    <a name="modelfinder"></a>
    <h2 class="sc-font-xl sc-text-center sc-padding-bottom-m">{{ .headline }}</h2>
    <h3 class="sc-font-l sc-text-center sc-padding-bottom-l">{{ .subheadline }}</h3>

    <div class="sc-cards">
        <input type="checkbox" id="cards-expand-1" class="sc-cards__state">
        <span class="sc-cards__list">
            {{range $i, $element :=  .modelcards }}
            <div class="sc-card">
                <a class="sc-card__link" href="{{ $element.url }}">
                    <img class="sc-card__image" src="{{$.baseurl}}{{ $element.img }}">
                    <div class="sc-card__label">
                        <div>{{ $element.title }}</div>
                    </div>
                </a>
            </div>
            {{end}}
        </span>
        <label class="sc-cards__show" for="cards-expand-1">
            <span> {{i18n "showmore"}} </span>
        </label>
    </div>
</section>
{{end}}
