{{ partial "header.html" . .Section}}
{{ partial "breadcrumbs.html" .}}
{{ partial "hero.html" .}}
{{ partial "spy-navigation.html" .}}
{{ partial "media-section.html" .}}
{{ partial "search-teaser.html" .}}
{{ partial "listings.html" .}}
<a name="make-info"></a>
<section class="opt-section opt-editorial-content">
<div class="opt-editorial-content__text">
{{ with .Params.seoHeadline}}<h2 class="sc-font-xl sc-text-center">{{.}}</h2>{{end}}
{{ .Content }}
</div>
</section>
{{ partial "tech-data.html" .}}
{{ partial "ratings.html" .}}
{{ partial "make-links.html" .}}
{{ partial "further-links.html" . }}
{{ partial "footnotes.html"  .}}
{{ partial "footer.html"  . .Section}}
