{{ partial "header.html" . .Section }}
{{ partial "breadcrumbs.html" . }}
{{ partial "search-teaser.html" . }}
{{ partial "spy-navigation.html" . }}
{{ partial "model-finder.html" (dict "context" (index .Params.modelfinder 0) "baseurl" .Site.Params.assetsBaseURL )}}
{{ partial "top-rank-list.html" (dict "context" (index .Params.ranklist 0)) }}
{{ partial "model-finder.html" (dict "context" (index .Params.modelfinder 1) "baseurl" .Site.Params.assetsBaseURL )}}
{{ partial "map.html" . }}
{{ partial "top-rank-list.html" (dict "context" (index .Params.ranklist 1)) }}
{{ partial "listings.html" . }}
{{ partial "magazine-articles.html" . }}
{{ partial "link-section.html" (dict "context" (index .Params.linksection 0)) }}
<a name="make-info"></a>
<section class="opt-section opt-editorial-content">
  <div class="opt-editorial-content__text">
    {{ with .Params.contentHeadline }}<h2 class="sc-font-xl sc-text-center">{{ . }}</h2>{{end}}
    {{ with .Params.contentSubheadline }}<h3 class="sc-text-center">{{ . }}</h3>{{end}}
    {{ .Content }}
  </div>
</section>
{{ partial "make-links.html" .}}
{{ partial "further-links.html" . }}
{{ partial "link-section.html" (dict "context" (index .Params.linksection 1)) }}
{{ partial "footer.html" . .Section }}