{{ partial "header.html" . .Section}}
{{ partial "breadcrumbs.html" .}}
{{ partial "hero.html" .}}
{{ partial "spy-navigation.html" .}}
{{ partial "listings.html" .}}
<a name="make-info"></a>
<section class="opt-section opt-editorial-content">
<div class="opt-editorial-content__text">
{{with .Params.seoHeadline}}<h2>{{.}}</h2>{{end}}
{{ .Content }}
</div>
</section>
{{ partial "make-links.html" .}}
{{ partial "further-links.html" . }}
{{ partial "footnotes.html"  .}}
{{ partial "footer.html"  . .Section}}
