{{ partial "head" . }}

<section class="sc-section"><div>
<h1 name="opt-c13-heading" class="sc-font-xl sc-font-bold sc-padding-bottom-xl">{{.Page.Title}}</h1>

<div class="sc-grid-row"><div class="sc-grid-col-6 sc-font-silent">
{{ .Params.city }}, {{ .Date.Format "02.01.2006" }}&nbsp;&nbsp;|&nbsp;&nbsp;Kategorie: {{ .Params.category }}
</div><div class="sc-grid-col-6 sc-text-right">
{{ if $.Param "pdf" }}<a target="_blank" href="{{ .Params.pdf }}">Download PDF</a>{{ end}}
</div>
</div>
{{ if $.Param "subtitle" }}<div class="sc-font-bold sc-margin-top-xl">{{ .Params.subtitle }}</div>{{end}}

<div class="sc-content">{{ .Content }}</div>
</div></section>

{{ partial "footer" . }}
