@import '../../../node_modules/showcar-ui/src/01-settings/variables.scss';
@import '../../../node_modules/showcar-ui/src/02-sass-tools/sass-mq';

.opt-magazine-articles {
  padding-top: $XXXL;
  padding-bottom: $XXXL;
  border-bottom: 1px solid $black-30;
  @include mqmin($viewportL) {
    padding-top: $XXXXL;
    padding-bottom: $XXXXL;
  }

  .opt-content-teaser {
    @include mqmin($viewportM) {
      padding-left: $L;
      padding-right: $L;
      margin-bottom: $XXXL;
    }
    @include mqmin($viewportL) {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
}


