@import '../../../node_modules/showcar-ui/src/01-settings/variables.scss';
@import '../../../node_modules/showcar-ui/src/02-sass-tools/sass-mq';
@import '../../../node_modules/showcar-ui/src/03-generic/fonts';

$content-width: 728px;

.opt-editorial-content {
  box-sizing: content-box;
  padding: $XXXL $L;
  border-bottom: 1px solid $black-30;

  &__text {
    max-width: $content-width;
    margin: 0 auto;
  }

  @include mqmin($viewportM) {
    padding: $XXXXL $L;
  }

  h2,
  h3,
  h4,
  h5 {
    padding-bottom: $S;

    @include mqmin($viewportS) {
      padding-bottom: $M;
    }
  }

  h3 {
    @extend h3.sc-font;
    font-size: $XL;
    font-weight: normal;

    @include mqmin($viewportM) {
      font-weight: 600;
    }
  }

  h4 {
    @extend h4.sc-font;
    font-weight: 600;
  }

  h5 {
    @extend h5.sc-font;
    font-weight: 600;
  }

  p,
  li {
    @extend .sc-font-m;
    line-height: 1.5;
  }

  p,
  ul,
  table {
    padding-bottom: $L;

    @include mqmin($viewportS) {
      padding-bottom: $XL;
    }
  }

  & > p:first-of-type {
    padding-top: $XXL;

    @include mqmin($viewportM) {
      padding-top: $XXXL;
    }
  }

  :last-child {
    padding-bottom: 0;
  }
}
