@import '../../../node_modules/showcar-ui/src/01-settings/variables.scss';
@import '../../../node_modules/showcar-ui/src/02-sass-tools/sass-mq';

.opt-model-finder {
  padding: $XXXL $L $XXL $L;
  border-bottom: 1px solid $black-30;
  @include mqmin($viewportL) {
    padding: $XXXXL;
    padding-bottom: $XXL;
  }
}
