@import '../../../node_modules/showcar-ui/src/01-settings/variables.scss';
@import '../../../node_modules/showcar-ui/src/02-sass-tools/sass-mq';

.opt-tech-data {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 360px;
  padding: $L;
}

@include mqmin($viewportM) {
  .opt-tech-data {
    min-height: 432px;
  }
}

@include mqmin($viewportL) {
  .opt-tech-data {
    min-height: 360px;
  }
}
