/*
 The default CSS file.

 You can use @import here to include CSS inside folders
*/
@import "../../node_modules/showcar-ui/dist/showcar-ui.css";

.sc-section {
  border-top: 1px solid #dcdcdc;
  padding: 40px 16px;
}
.sc-section>* {
  max-width: 728px;
  margin: 0 auto;
}
@media all and (min-width: 768px) {
    .sc-section {
      padding: 60px 16px;
    }
}
.sc-content p
{
  padding-top: 20px;
}

.sc-content h3
{
 padding-top: 20px;
 font-weight: bold;
}
