{{ if .Params.customTitle }}

<div class="sc-headline-with-breadcrumbs">
  <ul class="sc-breadcrumbs sc-breadcrumbs--viewport-s" vocab="http://schema.org/" typeof="BreadcrumbList">
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{{ .Site.Params.homeURL }}" class="tracking" data-breadcrumb="home">
        <span property="name">{{i18n "homepage"}}</span>
      </a>
      <meta property="position" content="1">
    </li>
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{{ .Site.Params.homeURL }}/mediaservice" class="tracking" data-breadcrumb="mediaservice">
        <span property="name">Mediaservice</span>
      </a>
      <meta property="position" content="2">
    </li>
    {{ template "breadcrumb" dict "currentPage" .Page "id" .UniqueID }}
  </ul>

  <h1 class="sc-font-xl">
    {{- default (i18n "defaultHeadline" .) .Params.customTitle -}}
  </h1>
</div>

{{ else }}

<div class="opt-breadcrumbs-without-headline">
  <ul class="sc-breadcrumbs sc-breadcrumbs--viewport-s" vocab="http://schema.org/" typeof="BreadcrumbList">
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{{ .Site.Params.homeURL }}" class="tracking" data-breadcrumb="home">
        <span property="name">{{i18n "homepage"}}</span>
      </a>
      <meta property="position" content="1">
    </li>
    {{ template "breadcrumb" dict "currentPage" .Page "id" .UniqueID }}
  </ul>
</div>

{{ end }}

{{ define "breadcrumb" }}
  {{ if .currentPage.Parent }}
    {{ if eq .id .currentPage.UniqueID }}
      {{ template "breadcrumb" dict "currentPage" .currentPage.Parent "li_class" "sc-breadcrumb-item--viewport-s"}}
    {{else }}
      {{ template "breadcrumb" dict "currentPage" .currentPage.Parent "li_class" ""}}
    {{ end }}
  {{end}}
  {{ if eq .id .currentPage.UniqueID }}
    <li property="itemListElement" typeof="ListItem">
      <span property="name">{{ .currentPage.Title }}</span>
    </li>
  {{ else }}
    <li class="{{ .li_class }}" property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{{ .currentPage.URL }}" data-breadcrumb="{{ .currentPage.Title }}">
      <span property="name">{{ .currentPage.Title }}</span>
      </a>
    </li>
  {{ end }}
{{ end }}
