{{ if ($.Sections) }}
  <div class="opt-links-section">
    <h2 class="opt-links-section__headline sc-font-xl">{{ i18n "morelinks" }}</h2>
    <div class="sc-separated-link-list-group">
      {{ range $.Sections }}
        {{ $.Scratch.Add "allkeywords" (slice .Params.focusKeyword) }}
      {{ end }}

      {{ range $keywords := slice "aktuelleModelle" "Modelle" "Baujahr" "Farbe" "Fahrzeugtyp" "Türen" "Ausstattung" "Motorleistung" "Kraftstoff" "Fahrzeugkategorie" "Preissegment" "Getriebe" "Spezial" "PS" "Gütesiegel" "Erstzulassung" "Kilometer" "Aufbautyp" "Kat" "Home" "Sitze" "Baureihe" "Hubraum" }}

        {{ if(in ($.Scratch.Get "allkeywords") $keywords) }}
          <div class="sc-separated-link-list">
            <h4 class="sc-separated-link-list__title sc-font-s">{{ i18n (printf "%s" $keywords) }}</h4>
            <ul class="sc-separated-link-list__ul">
              {{ range $.Sections }}
                {{ if eq .Params.focusKeyword $keywords }}
                  <li>
                    <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                  </li>
                {{ end }}
              {{ end }}
            </ul>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}

