{{ with .Params.magazinearticles }}
<div class="opt-magazine-articles">
  <h2 class="sc-font-xl sc-text-center sc-padding-bottom-s">{{ .headline }}</h2>
  <h3 class="sc-font-l sc-text-center sc-padding-bottom-xxxl">{{ .subheadline }}</h3>
  {{ range .articles }}
  <div class="sc-content-teaser-list opt-content-teaser">
    <div class="sc-content-teaser">
        <a href="{{ .link }}" class="sc-content-teaser__pic">
            <picture>
                <source srcset="{{ .picsmall }}" media="(min-width: 768px)">
                <source srcset="{{ .picmedium }}" media="(min-width: 321px)">
                <img srcset="{{ .picsmall }}}" alt="My default image">
            </picture>
        </a>
    
        <div class="sc-content-teaser__content">
            <a class="sc-content-teaser__category sc-font-s">{{ .extratitle }}</a>
            <div class="sc-content-teaser__introtext">
                <h3 class="sc-font-m sc-font-bold">{{ .title }}</h3>
                <p class="sc-font-m">
                    {{ .content }} 
                </p>
                <a href="{{ .link }}" class="sc-content-teaser__linkcover"></a>
            </div>
        </div>
    </div>
  </div>
  {{end}}
  {{ with .allarticlesbtn }}
  <a class="sc-search__link sc-text-center" href="{{ .url }}">{{ .title }}</a>
  {{ end }}
</div>
{{end}}