<div id="opt-navigation-stick"></div>
<div id="opt-navigation" class="opt-navigation sc-spy-navigation" data-stick-when="#opt-navigation-stick">
  <div class="sc-grid-row">
    <div class="sc-grid-col-12">
      <div class="sc-spy-navigation__wrapper">
        <nav class="sc-spy-navigation__links">
          <a class="sc-spy-navigation__link" href="#" data-href="introtext">{{i18n "introtext" }}</a>
          <a class="sc-spy-navigation__link" href="#" data-href="modelfinder">{{i18n "modelfinder" }}</a>
          <a class="sc-spy-navigation__link" href="#" data-href="magazine">{{i18n "magazine" }}</a>
          <a class="sc-spy-navigation__link" href="#" data-href="toplisting">{{i18n "toplisting" }}</a>
          <a class="sc-spy-navigation__link" href="#" data-href="make-info">{{i18n "make-info" }}</a>
          <a class="sc-spy-navigation__link" href="#" data-href="ratings">{{i18n "ratings" }}</a>
          <a class="sc-spy-navigation__link" href="#" data-href="opt-techdata">{{i18n "techdata" }}</a>
          <as24-tracking type="gtm" action="click" as24-tracking-click-target="a[data-href=modelfinder]" linkgroup="opt-subnavi" linkid="overview-model"></as24-tracking>
          <as24-tracking type="gtm" action="click" as24-tracking-click-target="a[data-href=magazine]" linkgroup="opt-subnavi" linkid="news-tests"></as24-tracking>
          <as24-tracking type="gtm" action="click" as24-tracking-click-target="a[data-href=make-info]" linkgroup="opt-subnavi" linkid="information"></as24-tracking>
          <as24-tracking type="gtm" action="click" as24-tracking-click-target="a[data-href=ratings]" linkgroup="opt-subnavi" linkid="car-ratings"></as24-tracking>
          <as24-tracking type="gtm" action="click" as24-tracking-click-target="a[data-href=introtext]" linkgroup="opt-subnavi" linkid="introtext"></as24-tracking>
          <as24-tracking type="gtm" action="click" as24-tracking-click-target="a[data-href=toplisting]" linkgroup="opt-subnavi" linkid="top-offer"></as24-tracking>
          <as24-tracking type="gtm" action="click" as24-tracking-click-target="a[data-href=opt-techdata]" linkgroup="opt-subnavi" linkid="opt-techdata"></as24-tracking>
        </nav>
        <div class="sc-spy-navigation__toggle">
          <span class="sc-spy-navigation__toggle__text">{{ i18n "showmore"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
