{{ partial "header.html" . .Section}}
{{ partial "breadcrumbs.html" .}}

<section class="opt-section opt-editorial-content">
<div class="opt-editorial-content__text">
{{with .Params.headline}}<h2 class="sc-font-xl sc-text-left">{{.}}</h2>{{end}}
<div class="sc-margin-top-s sc-padding-bottom-xxl sc-font-silent sc-grid-row">
<div class="sc-grid-col-6 sc-text-left">
{{with .Params.location}}{{.}}, {{end}} {{.Date.Format "02.01.2006"}} &nbsp;&nbsp;|&nbsp;&nbsp; Kategorie:
{{with .Params.category}}<a href="#1">{{.}}</a>{{end}}
</div>
<div class="sc-grid-col-6 sc-text-right">
{{with .Params.pdf}}<a href="{{.}}">Download PDF</a>{{end}}
</div>
</div>
<div>
{{ .Content }}
</div>
</div>
</section>
{{ partial "footnotes.html"  .}}
{{ partial "footer.html"  . .Section}}
