@import '../../../node_modules/showcar-ui/src/01-settings/variables.scss';
@import '../../../node_modules/showcar-ui/src/02-sass-tools/sass-mq';

as24-footnotes:not(:empty) {
  margin-top: $XL;
  display: block;
  padding-bottom: $XL;

  li {
    padding-bottom: $XS;
    padding-left: $M;
    padding-right: $M;

    sup {
      vertical-align: text-top;
      font-size: 8px;
      padding-right: $XS;
    }
  }
}
