@import '../../../node_modules/showcar-ui/src/01-settings/variables.scss';
@import '../../../node_modules/showcar-ui/src/02-sass-tools/sass-mq';

.opt-listings {

  border-bottom: 1px solid $black-30;

  as24-carousel {
    min-height: 421px;
  }

  .as24-carousel__container {
    flex: 1 0 auto;
    padding-top: $XXL - $XS;
    padding-bottom: $XXL;

    @include mqmin($viewportM) {
      padding-top: $XXXL - $XS;
    }
  }

  .as24-carousel__button {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .as24-carousel__item {
    width: 300px;
    max-width: 100%;
    min-height: 420px;
    flex: 0 0 auto;
    border: 1px solid #dcdcdc;
    margin-left: $XL;
    &:last-child {
      margin-right: $XL;
    }
    li {
      max-width: 100%;
    }
  }
}
