@import '../../../node_modules/showcar-ui/src/01-settings/variables.scss';
@import '../../../node_modules/showcar-ui/src/02-sass-tools/sass-mq';

.opt-map {
  padding: 0 $L;
  position: relative;
}

.opt-map-headline {
  padding: $XXXL 0;
}

.opt-map-svg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  > svg {
    flex-basis: 400px;
    position: relative;
  }
}
